<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../JS/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="root">
     姓：<input type="text" v-model="firstName"><br>
     名：<input type="text" v-model="lastName"><br>
     全名：<span>{{fullName}}</span>
    </div>
  </body>
  <script type="text/javascript">
    const v = new Vue({
      el: "#root",
      data: {
        firstName: "张",
        lastName :"三"
      },
      computed:{
        fullName:{
          //get当有人读取fullName,返回值作为fullName值
          //get什么时候调用？1.初次读取fullName时2.所依赖的数据发生变化时
          get(){
            return this._data.firstName+ '-' + this._data.lastName;
          },
          //set什么时候调用，当fullName被修改的时候
          set(value){ 
            const arr = value.split('-');
            this.firstName = arr[0];
            this.lastName = arr[1];
          }
        }
      }
    });
  </script>
</html>
